
img { border: 0; }

html { font-family: Verdana, sans-serif;  font-size: 9pt; }
a { text-decoration: none; border-bottom; 0; font-style: none; }
#progressT { position: relative; top: 112px; left: 79px; }
#progressL { position: relative; top: 10px; left: 10px; }
#progressP { position: relative; top: 60px; left: 10px; }
#tree { float:left; clear:both; position:relative; height: 400px; background-color: #f0f0f0; border: 0px solid #d0d0d0; background: url('../image/dirtree-split.png') top no-repeat; margin-right: 10px; }
#tree .selected { background-color: #e7e7e7; width: 10px; }
#tree a:hover { font-style: none; text-decoration: none; border-bottom: 0;}
#tree li { background: #f0f0f0 none; }

#dirtree { padding:5px 5px 20px 5px; white-space:nowrap; width:190px; height: 225px; overflow: auto; }
#dirtree ul { margin:0; padding:0; }
#dirtree li { margin:0; padding-left:7px; list-style:none; }

#dirtreediv { color: #2092d0; font: bold 10pt/normal; border: 0px;}
#dirtreediv hr { color: #d0d0d0; width: 100%; }
#dirtreeexp { padding-left: 10px; }

#preview-image { line-height: 41px; margin-left: 2px; margin-right: 2px; font:normal 10pt/normal; padding: 5px 5px 5px 5px; width: 186px; height: 155px; overflow: hidden; }
#preview-image img { width: 186px; height: 98px; } 

#properties { padding-top: 10px; }

#leftSpace { float: left; background: #f0f0f0 url('../image/leftside.png') left no-repeat; width: 5px; height: 400px; }
#rightSpace { float: right; background: #f0f0f0 url('../image/rightside.png') right no-repeat; width: 5px; height: 400px; }
#dirlist { padding-left: 0px; padding-right: 0px; height: 400px; background: #f0f0f0 url('../image/middlebar.png') left repeat-x; width:auto; overflow:auto; text-align: left; }  /*changed from 200 to fit in all the buttons */
#dirlist table { width:100%; font:normal 10pt/normal; margin:0 auto; cursor:default; }
#dirlist td { border: 0px; }
#dirlist .dirrow_selected { background: #ececec; font-style: normal; }
#dirlist a:hover { font-style: none; text-decoration: none; border-bottom: 0;}
#dirlist .filerow_selected { background: #f9f9f9; }
#dirlist tr.hover { background-color: #d0d0d0; }
#dirlist img { margin-left: 5px; }
#dirlist table tr { background-color: #f0f0f0; }
#dirlist table tr.selected { background-color: #e7e7e7; }
#dirlistbody { border: 0px }
#property-form { padding-left: 0px; padding-right: 0px; height: 400px; background: #f0f0f0 url('../image/middlebar.png') left repeat-x; width:auto; overflow:auto; text-align: left; }
#property-form table tr, table td, table, tbody { border: 0px; } 

#buttons a.button-selected { background-color: #2092d0; }
#filesearch li.selected { background-color: #e7e7e7; }

#dbfm-attach { margin:0; padding:0;  width: 100%; }
#dbfm-attach table { width:99%; font: normal 10pt/normal; margin: 0 auto; cursor: default; background-color: #f0f0f0; border: 2px solid #d0d0d0; }
#dbfm-attach td { border-bottom: 1px solid #d8d8d8; }
#dbfm-attach img { margin-left: 5px; }

#dragCont { background:transparent none; list-style: none; }
#dragCont ul { margin:0; padding:0; background:transparent none; }
#dragCont li { margin:0; padding-left:20px; background:transparent none; }

#cxtCont { border:1px solid #202867; background:#FFF none; }
#cxtCont ul { list-style-type:none; margin:0; padding:0;}
#cxtCont ul li { padding:3px; margin: 0; background: #FFF none; text-align: left; }
#cxtCont ul li.cxtContHover { background:#E2EBED none; color:red; cursor:pointer;}

#filesearch { clear: left; }
#metadata { clear: left; }
#debug { clear: left; }
#alertbox { margin: 10px; }
#ieDragDiv img { padding-right: 10px; }

.alertspan { background-color: #ffff00; color: #a00000; font: bold 12px/normal; }
.g { color: green; font-size: 120%; }
.progress { color: white; font: bold 8pt/normal; visibility: hidden; }

.navi { color: #2092d0; background-color: #f0f0f0; font: normal 10pt/normal; text-align: left; line-height: 25px; }
.navi a { color:#2092d0; font: bold 10pt/normal; }
.navi a:hover { color: red; text-decoration: none; }

.head { color: #2092d0; background-color: #e0e0e0; font: bold 10pt/normal; }
.head a { text-decoration: none; color: #2092d0; font: bold 10pt/normal; }
.head a:hover { color: red; text-decoration: none; }

.txt { font: normal 10pt/normal; text-align: left; padding-left: 10px; padding-right: 10px; }
.dbfm-button { display: inline; }
